{% extends 'sale_app/base.html' %}
{% block content %}
<div class="container"> 
    {% for post in posts %}
        <div>
            
            <a href ="{% url 'post_detail' pk=post.id %}"><h2>{{ post.title }}</h2></a><p></p>
            <div>
                {% if post.image %}
                <img src='{{post.image.url}}' width=300px height=150>
                {% endif %}
            </div>
            <br /><p>Description : {{ post.text }}</p>
            <p>published date : {{ post.pub_date }}</p>
            <p>Owner:{{ post.author }}</p>
            <p><br /></p>
        </div>

    {% endfor %}
</div>
{% endblock %}
